@media only screen and (max-width:600px) {
  p {
    font-size: 1.2em;
  }
  .layout {
    position: relative;
  }
  .mobile_header {
    display: flex;
    justify-content: flex-end;
    z-index: 40;
    position: fixed;
    top: 0;
    .header_container {
      position: relative;

    }
    .header_icon {
      font-size: 1.4em;
      position: absolute;
      top: 10px;
      right: 30px;
    }
      .menu-item {
        font-size: 24px;
        margin: 0 !important;
        pointer-events: none;
        padding: 80px 12px;
        margin: 0 12px;
        display: flex;
        flex-direction: column;
        background-color: rgba(15, 24, 101, 0.869);
        width: 100vw;
        height: 100vh;
        .header-link {
          padding-bottom: 10px;
          text-align: center;
          padding: 20px 0;
        }
        .header-link-icon {
          padding-bottom: 10px;
          margin-top: 20px;
          color: white;
          text-align: center;
        }
       li {
        &:hover {
            cursor: pointer;
        }
       }
      }
  }
  .section {
    flex-direction: column;
    &__left {
       max-width: 100% !important;
       min-height: 100px !important;
       .image1 {
         left: 0;
         top: 0;
       }
    }
    &__right {
      padding: 0 !important;
    }

    .innner_content {
       max-width: 100% !important;
       padding: 20px;
      .post-list {
        grid-template-columns: repeat(2, 1fr) !important;
      }

    }
  }
  #about {
    flex-direction: column-reverse !important;
  }
  .main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 0 !important;
  }
}