@media only screen and (max-width:600px) {
  .header {
    .menu {
        display: block;
        z-index: 10;
     }
    &__right ul {
      flex-direction: column;
      
      li {
        text-align: end;
      }
      a {
        text-align: end;
      }
    }
  }
  .section {
    flex-direction: column;
    &__left {
       max-width: 100% !important;
       min-height: 100px !important;
       .image1 {
         left: 0;
         top: 0;
       }
    }
    &__right {
      padding: 0 !important;
    }

    .innner_content {
       max-width: 100% !important;
       padding: 20px;
      .post-list {
        grid-template-columns: repeat(2, 1fr) !important;
      }

    }
  }
  #about {
    flex-direction: column-reverse !important;
  }
  .main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 0 !important;
  }
}